@charset "UTF-8";
/* переменные */
/* общие стили и обнуление*/
html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  height: 100%; }

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  position: relative;
  padding-top: 90px; }
  @media (max-width: 1200px) {
    body {
      font-size: calc(14px + 4 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    body {
      padding-top: calc(60px + 30 * ((100vw - 320px) / 880)); } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

a {
  text-decoration: none; }

a.link {
  color: #548eab; }
  a.link:hover {
    border-bottom: dashed 1px #548eab; }
  a.link:visited {
    color: #660099; }
  a.link:visited:hover {
    border-bottom: dashed 1px #660099; }

/*  / общие стили и обнуление*/
/* оболочка для страницы чтобы прижать footer к низу */
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* ограницивающий контейнер */
.wrap {
  padding: 0 15px;
  max-width: 1230px;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

/* HEADER
============================================================================================= */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 90px;
  background-color: #338F93;
  /* адаптивность */ }
  @media (max-width: 1200px) {
    .header {
      height: calc(60px + 30 * ((100vw - 320px) / 880)); } }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header__icon {
    cursor: pointer;
    z-index: 9999999999999; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-display: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__link {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-right: 60px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative; }
    .header__link:after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      background-color: #fff;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0; }
    .header__link:last-child {
      margin-right: 0; }
    .header__link:hover:after {
      -webkit-transition: .3s;
      transition: .3s;
      opacity: 1; }
  @media (max-width: 1024px) {
    .header .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header__nav {
      display: none; } }
  @media (max-width: 425px) {
    .header .icon-text {
      display: none; } }

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999999999999;
  -webkit-transition: linear all .3s;
  transition: linear all .3s;
  cursor: pointer;
  width: 50px;
  height: 30px; }
  @media (max-width: 1200px) {
    .burger {
      width: calc(35px + 15 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .burger {
      height: calc(25px + 5 * ((100vw - 320px) / 880)); } }
  .burger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px; }
  .burger-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    height: 100vh;
    width: 50%;
    background-color: #338F93;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-transition: .3s;
    transition: .3s;
    overflow: hidden; }
    @media (max-width: 425px) {
      .burger-menu {
        width: 100%; } }
    .burger-menu__body {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      overflow-y: auto; }
    .burger-menu__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .burger-menu__link {
      margin: 0 0 50px 0; }
    .burger-menu._active {
      right: 0; }
  .burger._active {
    -webkit-transition: .3s;
    transition: .3s; }
    .burger._active span:nth-child(2) {
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg); }
    .burger._active span:nth-child(1) {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg); }
    .burger._active span:nth-child(3) {
      position: relative;
      top: -50%;
      -webkit-transform: translateY(50%) rotate(135deg);
              transform: translateY(50%) rotate(135deg); }

/* MAIN
========================================================================================== */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-image: url(../img/2.png);
  background-size: 200%;
  background-position-x: 50%; }
  @media (max-width: 690px) {
    .main {
      background-size: 250%; } }
  @media (max-width: 690px) {
    .main {
      background-size: 300%; } }

/* ИНТРО
========================================================================================== */
.intro {
  background-color: #fff;
  /* скрытый при десктопе */ }
  .intro__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    padding-left: 15px; }
    @media (max-width: 1200px) {
      .intro__flex {
        padding: 0; } }
  .intro__block-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .intro__block-text:after {
      content: '';
      position: absolute;
      background-color: transparent;
      top: 0;
      bottom: 0;
      right: -86px;
      display: block;
      border-top: 50vh solid transparent;
      border-bottom: 50vh solid transparent;
      border-left: 86px solid white; }
    @media (max-width: 1200px) {
      .intro__block-text {
        display: none; } }
  .intro__block-img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-image: url(../img/bg-intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
    @media (max-width: 1200px) {
      .intro__block-img {
        width: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
  .intro__text {
    max-width: 560px; }
  .intro__title {
    color: #000;
    margin-bottom: 30px; }
    @media (max-width: 1200px) {
      .intro__title {
        color: #fff; } }
  .intro__subtitle {
    max-width: 520px;
    font-size: 26px;
    margin-bottom: 30px; }
    @media (max-width: 1200px) {
      .intro__subtitle {
        font-size: calc(20px + 6 * ((100vw - 320px) / 880)); } }
    @media (max-width: 1200px) {
      .intro__subtitle {
        color: #fff;
        margin: 0 auto;
        margin-bottom: 30px; } }
  .intro__hidden {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
    @media (max-width: 1200px) {
      .intro__hidden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .intro__hidden * {
          text-align: center; } }
    .intro__hidden-cover {
      padding: 0 15px; }

/* ЭТАПЫ
========================================================================================== */
.stages__title {
  text-align: center;
  margin-bottom: 100px; }
  @media (max-width: 1200px) {
    .stages__title {
      margin-bottom: calc(50px + 50 * ((100vw - 320px) / 880)); } }
.stages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px; }
  @media (max-width: 1200px) {
    .stages__block {
      margin-bottom: calc(50px + 100 * ((100vw - 320px) / 880)); } }
  .stages__block_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 1200px) {
      .stages__block_reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .stages__block:last-child {
    margin-bottom: 0; }
  @media (max-width: 1200px) {
    .stages__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
.stages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 630px; }
  @media (max-width: 1200px) {
    .stages__info {
      margin-top: 25px; } }
  @media (max-width: 1200px) and (max-width: 1200px) {
    .stages__info {
      margin-top: calc(15px + 10 * ((100vw - 320px) / 880)); } }

.stages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 690px) {
    .stages__header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
.stages__num {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  height: 82px;
  width: 82px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  margin-right: 18px; }
  @media (max-width: 1200px) {
    .stages__num {
      height: calc(55px + 27 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .stages__num {
      width: calc(55px + 27 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .stages__num {
      font-size: calc(25px + 15 * ((100vw - 320px) / 880)); } }
  .stages__num_green {
    background-color: #c5de90; }
  .stages__num_blue {
    background-color: #9edee2; }
  .stages__num_violet {
    background-color: #bc90de; }
  @media (max-width: 690px) {
    .stages__num {
      margin-right: 0; } }
.stages__subtitle {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  width: 525px; }
  @media (max-width: 1200px) {
    .stages__subtitle {
      font-size: calc(25px + 11 * ((100vw - 320px) / 880)); } }
  @media (max-width: 690px) {
    .stages__subtitle {
      text-align: center;
      width: 100%; } }
.stages__text {
  max-width: 525px;
  margin-top: 15px;
  margin-left: auto; }
  @media (max-width: 1200px) {
    .stages__text {
      margin-top: calc(10px + 5 * ((100vw - 320px) / 880)); } }
  @media (max-width: 690px) {
    .stages__text {
      text-align: justify;
      max-width: 100%; } }
.stages__img {
  height: auto;
  max-width: 560px;
  width: 100%; }

/* СОВЕТЫ
========================================================================================== */
.advises__title {
  margin-bottom: 100px;
  text-align: center; }
.advises__accor {
  margin-bottom: 40px; }
  @media (max-width: 1200px) {
    .advises__accor {
      margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880)); } }
  .advises__accor:last-child {
    margin-bottom: 0; }

/* КОНТАКТЫ
========================================================================================== */
.contacts__title {
  text-align: center;
  margin-bottom: 90px; }
  @media (max-width: 1200px) {
    .contacts__title {
      max-width: 690px;
      margin: 0 auto;
      margin-bottom: 90px; } }
  @media (max-width: 1200px) and (max-width: 1200px) {
    .contacts__title {
      margin-bottom: calc(40px + 50 * ((100vw - 320px) / 880)); } }

/* FOOTER
============================================================================================= */
.footer {
  padding-top: 33px;
  padding-bottom: 25px;
  background-color: #338F93;
  min-height: 70px; }
  @media (max-width: 1200px) {
    .footer {
      padding-top: calc(15px + 18 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .footer {
      padding-bottom: calc(15px + 10 * ((100vw - 320px) / 880)); } }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px; }
  .footer__cr {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 15px; }
  .footer__author {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 15px;
    text-align: right; }

/* ТИПИЗИРОВАННЫЕ ЭЛЕМЕНТЫ
=================================================================================================================== */
.btn-main {
  padding-right: 116px;
  padding-left: 116px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  @media (max-width: 1200px) {
    .btn-main {
      padding-right: calc(60px + 56 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .btn-main {
      padding-left: calc(60px + 56 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .btn-main {
      padding-bottom: calc(10px + 10 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .btn-main {
      padding-top: calc(10px + 10 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .btn-main {
      font-size: calc(20px + 5 * ((100vw - 320px) / 880)); } }
  .btn-main_blue {
    color: #FFFFFF;
    background-color: #338F93;
    border: solid 3px #338F93; }
    .btn-main_blue:hover {
      background-color: #fff;
      color: #338F93; }
  .btn-main_red {
    color: #FFFFFF;
    background-color: #ff4646;
    border: solid 3px #ff4646; }
    .btn-main_red:hover {
      background-color: #fff;
      color: #ff4646; }

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px; }
  @media (max-width: 1200px) {
    .title {
      font-size: calc(34px + 16 * ((100vw - 320px) / 880)); } }

.sec-pad {
  padding-top: 130px;
  padding-bottom: 100px; }
  @media (max-width: 1200px) {
    .sec-pad {
      padding-top: calc(60px + 70 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .sec-pad {
      padding-bottom: calc(50px + 50 * ((100vw - 320px) / 880)); } }

.accor {
  background: #FFFFFF;
  -webkit-box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  /* активное положение */ }
  .accor__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .accor__head {
        padding-right: calc(20px + 30 * ((100vw - 320px) / 880)); } }
    @media (max-width: 1200px) {
      .accor__head {
        padding-left: calc(20px + 30 * ((100vw - 320px) / 880)); } }
    @media (max-width: 1200px) {
      .accor__head {
        padding-top: calc(10px + 8 * ((100vw - 320px) / 880)); } }
    @media (max-width: 1200px) {
      .accor__head {
        padding-bottom: calc(10px + 8 * ((100vw - 320px) / 880)); } }
  .accor__body {
    padding-top: 7px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    display: none; }
    @media (max-width: 1200px) {
      .accor__body {
        padding-right: calc(20px + 30 * ((100vw - 320px) / 880)); } }
    @media (max-width: 1200px) {
      .accor__body {
        padding-left: calc(20px + 30 * ((100vw - 320px) / 880)); } }
    @media (max-width: 1200px) {
      .accor__body {
        padding-bottom: calc(12px + 8 * ((100vw - 320px) / 880)); } }
  .accor__title {
    font-size: 30px;
    color: #000; }
    @media (max-width: 1200px) {
      .accor__title {
        font-size: calc(20px + 10 * ((100vw - 320px) / 880)); } }
  .accor__arr {
    margin-left: 30px;
    -webkit-transition: .3s;
    transition: .3s; }
    @media (max-width: 1200px) {
      .accor__arr {
        margin-left: calc(15px + 15 * ((100vw - 320px) / 880)); } }
  .accor._active .accor__body {
    display: block; }
  .accor._active .accor__arr {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

/* форма */
.form {
  max-width: 800px;
  widows: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .form__input {
    background: #FFFFFF;
    -webkit-box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
    padding: 14px 30px;
    margin-bottom: 25px;
    line-height: 22px; }
  .form__textarea {
    min-height: 200px;
    resize: none; }
  .form__btn {
    -ms-flex-item-align: center;
        align-self: center; }
  .form *::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); }
  .form *::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); }
  .form *:-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); }
  .form *:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); }
